<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--命名空间+ id 名字来确定唯一的sql语句-->
<mapper namespace="com.crazycode.mapper.LogMapper">
    <select id="queryLog" resultType="syslog">
        select id,visitTime,username,ip,url,executionTime,method from syslog
    </select>

    <!--添加日志-->
    <insert id="addLog">
        insert into syslog values (#{id},#{visitTime},#{username},#{ip},#{url},#{executionTime},#{method})
    </insert>

</mapper>