<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--命名空间+ id 名字来确定唯一的sql语句-->
<mapper namespace="com.crazycode.mapper.PermissionMapper">
    <select id="queryPermissionById" resultMap="permission_type">
         select p.id pid,p.permissionname,p.url from permission p,role_permission rp where p.id = rp.permissionid and rp.roleid=#{id}
    </select>

    <resultMap id="permission_type" type="permission">
        <id property="id" column="pid"></id>
        <result property="permissionname" column="p.permissionname"></result>
        <result property="url" column="url"></result>
    </resultMap>

    <!--查询所有的权限-->
    <select id="queryAllPermission" resultType="permission">
         select id,permissionname,url from permission
    </select>

    <insert id="addRolePermission">
        insert into role_permission values (#{permissionId},#{roleId})
    </insert>

    <!--删除角色权限-->
    <delete id="deleteRolePermission">
        delete from role_permission where roleid = #{id}
    </delete>

    <!--添加权限种类-->
    <insert id="addPermission">
        insert into permission values (UUID(),#{permissionName},#{url})
    </insert>

    <!--查询权限详情-->
    <select id="queryPermission" resultType="permission">
        select id,permissionname,url from permission where id = #{id}
    </select>

    <!--删除权限-->
    <delete id="deletePermission">
        delete from permission where id = #{id}
    </delete>
</mapper>