<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--命名空间+ id 名字来确定唯一的sql语句-->
<mapper namespace="com.crazycode.mapper.ProductMapper">
    <select id="queryProduct" resultType="product">
        select id,productNum,productName,cityName,departureTime,productPrice,productDesc,productStatus from product
    </select>

    <select id="queryProductById" resultType="product">
        select id,productNum,productName,cityName,departureTime,productPrice,productDesc,productStatus from product where id = #{id}
    </select>

    <!--添加产品-->
    <insert id="addProduct">
        insert into product values (UUID(),#{productNum},#{productName},#{cityName},#{departureTime},#{productPrice},#{productDesc},#{productStatus})
    </insert>

</mapper>