<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper              
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--命名空间+ id 名字来确定唯一的sql语句-->
<mapper namespace="com.crazycode.mapper.UserMapper">
    <insert id="addUser">
        insert into users values (UUID(),#{email},#{username},#{password},#{phoneNum},#{status})
    </insert>

    <select id="queryUser" resultType="users">
        select id,email,username,password,phoneNum,status from users
    </select>

    <!--<select id="queryUserMsg">
        select u.username,r.rolename,r.roledesc,p.permissionname,p.url
        from users u,users_role ur,role r,role_permission rp,permission p where u.id=#{?}
        and u.id = ur.userid and ur.roleid = r.id and r.id = rp.role.id and rp.permissionid = p.id
    </select>-->
    
    <select id="queryUserByID" resultType="users">
       select id,email,username,password,phoneNum,status from users where id = #{id}
    </select>


</mapper>