<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--命名空间+ id 名字来确定唯一的sql语句-->
<mapper namespace="com.crazycode.mapper.UserMapper">
    <insert id="addUser">
        insert into users values (UUID(),#{email},#{username},#{password},#{phoneNum},#{status})
    </insert>

    <select id="queryUser" resultType="users">
        select id,email,username,password,phoneNum,status from users
    </select>
</mapper>